// Color 
$primary: #23ade5;
$success: #7dc163;
$info: #efeccd;
$warning: #facc7e;
$danger: #e26e48;

// Border
$border: 1px solid #e0e4eb;

// @mixin border-bottom($color: #ccc) {
//   background-size: 100% 1px;
//   background-repeat: no-repeat;
//   background-position: bottom;
//   background-image: linear-gradient(bottom, $color, $color 100%);
// }